.moviescardlist {
	width: calc(100% - 140px);
	margin: auto;
	padding-top: 70px;
	padding-bottom: 28px;

	display:grid;
	justify-content:center;
	grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
	column-gap: 30px;
	row-gap: 60px;
}

@media screen and (max-width: 768px) {
	.moviescardlist {
		width: calc(100% - 60px);
		margin: auto;
		padding-top: 70px;
		padding-bottom: 0;

		display:grid;
		justify-content:center;
		grid-template-columns: repeat(auto-fit, minmax(339px, 339px));
		column-gap: 30px;
		row-gap: 47px;
	}
}

@media screen and (max-width: 492px) {
	.moviescardlist {
		width: calc(100% - 20px);
		margin: auto;
		padding-top: 40px;
		padding-bottom: 0;

		display:grid;
		justify-content:center;
		grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
		row-gap: 36px;
	}
}