.forminput__label {
  color: #8B8B8B;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 5px;
}

.forminput {
	width: 396px;
  background-color: #202020;
  box-sizing: border-box;
  outline: none;
  color: white;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  border-width: 0px 0px 1px;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style:  normal;
  font-weight: 400;
}

.forminput_error-password {
  color: #EE3465;
}

.forminput:focus {
  border-bottom: 1px solid rgba(66, 133, 244, 1);
}

.forminput__error {
  color: #EE3465;
  font-size: 10px;
  line-height: 12px;
}

.forminput__error-name {
  min-height: 24px;
}

.forminput__error-email {
  min-height: 24px;
}

.forminput__error-password {
  min-height: 24px;
}

@media screen and (max-width: 456px) {
  .forminput {
    width: 100%;
  }
}